@charset "UTF-8";

/* accessibility  */
.accessibility {position:relative;z-index:1000;width:100%;overflow:hidden;}
.accessibility a {display:block;width:1px;height:1px;margin:0 -1px -1px 0;font-size:0;line-height:0;text-align:center;overflow:hidden;box-sizing:border-box;}
.accessibility a:focus,
.accessibility a:hover,
.accessibility a:active {width:auto;height:32px;padding:8px 0;margin:0;font-size:16px;line-height:1;color:#fff;background:#007BFF;}

#wrapper{ position:relative; min-height: 100vh; /* max-width: 64rem; */ margin: 0 auto;}
#wrapper::after { content: ''; display: block; clear: both; }
.wrap{ width: 100%; margin:0 auto; box-sizing: border-box; }

/* header */
#header{position:relative;z-index: 1000;}
#header .wrap{position: fixed; top: 0; left: 50%; /* max-width: 64rem; */ height: 5.6rem; padding: 0 2.4rem; background: #fff; box-sizing: border-box; transform: translateX(-50%);}
#header .logo{padding-top: 1.8rem;}
#header .logo a{display: inline-block; width: 12rem; height: 2rem; font-size: 1px; line-height: 1px; color: transparent; vertical-align: top; background: url(../../assets/images/common/logo.png) left top no-repeat; background-size: cover;}
#header .button_language{position: absolute; right: 7.2rem; top: 1.2rem; display: inline-block; width: 3.2rem; height: 3.2rem; padding: 0; margin: 0; border: 1px solid rgba(47, 53, 66, 0.1); border-radius: 100%; overflow: hidden; box-sizing: border-box;}
#header .button_language .icon_language{position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; background: url(../../assets/images/common/flag_kr.png) no-repeat center center; background-size: 100% auto; transform: translate(-50%, -50%);}
#header .button_language.jp .icon_language{background-image: url(../../assets/images/common/flag_jp.png);}
#header .button_menu {position: absolute; top: 1.2rem; right: 2.4rem; display: inline-block; width: 3.3rem; height: 3.2rem; padding: 0; margin: 0; box-sizing: border-box;}
#header .button_menu .icon_menu {position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; background: url(../../assets/images/common/icon_menu.png) no-repeat 0 0; background-size: 100% auto; transform: translate(-50%, -50%);}
.language_list li{border-top: 1px solid #E6E8EF;}
.language_list li:first-child{border-top: none;}
.language_list li button{display: block; width: 100%; padding: 1.2rem 0.2rem; font-size: 16px; color: #2F3542; text-align: left; box-sizing: border-box;}
.language_list li button.active{font-weight: 600;}
.language_list li i{display: inline-block; width: 3.2rem; height: 3.2rem; padding: 0; margin-right: 1.3rem; vertical-align: middle; border: 1px solid rgba(47, 53, 66, 0.1); border-radius: 100%; background-position: center center; background-repeat: no-repeat; background-size: 100% auto; overflow: hidden; box-sizing: border-box;}
.language_list li .kr i{background-image: url(../../assets/images/common/flag_kr.png);}
.language_list li .jp i{background-image: url(../../assets/images/common/flag_jp.png);}

/* gnb */
.gnb_inner{position: fixed; left: -24rem; top: 0; z-index: 2500; width: 24rem; height: 100vh; background-color: #fff; transition: left 400ms cubic-bezier(0.86, 0, 0.07, 1);}
.active .gnb_inner{left: 0;}
.gnb_title{position: relative; height: 5.6rem; padding-left: 2.4rem; background-color: #0756D9;}
.gnb_title h2{display: inline-block; width: 12rem; height: 2rem; margin-top: 1.8rem; font-size: 1px; line-height: 1px; color: transparent; vertical-align: top; background: url(../../assets/images/common/logo_white.png) left top no-repeat; background-size: cover;}
.gnb_title .home{position: absolute; right: 0; top: 0; width: 5.6rem; height: 5.6rem; }
.gnb_title .home i{position: absolute; left: 50%; top: 50%; display: inline-block; width: 2.4rem; height: 2.4rem; background: url(../../assets/images/common/icon_home.png) left top no-repeat; background-size: cover; transform: translate(-50%, -50%);}

.gnb .depth1{border-top: 1px solid #C6CFE2;}
.gnb .depth1:first-child{border-top: none;}
.gnb .depth1 > a{display: block; padding: 1.85rem 2.4rem; font-size: 1.6rem; line-height: 1.9rem; color: #2F3542;}
.gnb .depth1.on > a{font-weight: 600;}
.gnb .depth2{display: none; background-color: #E4EAF6;}
.gnb .on .depth2{display: block;}
.gnb .depth2 li a{display: block; padding: 1.5rem 2.4rem; font-size: 1.4rem; line-height: 1.6rem; color: #0756D9; font-weight: 600;}
.gnb_info{position: absolute; bottom: 0;}
.gnb_info .inner{padding: 0 2.4rem 3.2rem;}
.gnb_info li{margin-bottom: 0.4rem; line-height: 0;}
.gnb_info li strong,.gnb_info li span,.gnb_info li a{display: inline-block; font-size: 1.5rem; line-height: 1.8rem; letter-spacing: -1px; vertical-align: middle;}
.gnb_info li strong{margin-right: 1rem; color: #2F3542;}
.gnb_info li span,.gnb_info li a{color: #0756D9;}
.gnb_info .email{display: inline-block; margin-top: 0.8rem; font-size: 1.2rem; line-height: 1.6rem; color: #8B909C;}
.gnb_box.active .dim{display: block;}

/* container */
#container #contents { position: relative; min-height:100vh; height: 100%; padding: 5.6rem 0 16rem;}