@charset "UTF-8";




.sticky_back{}
/* .sticky.active{position:fixed;z-index:990;width:100%;align-items:flex-start;background-color:#fff;box-shadow:0px 4px 5px rgba(0, 0, 0, 0.08);} */
/* .header_box{display:flex;align-items:flex-end;padding:0 2rem;}
.header_box .contents_box{flex-grow:1;}
.header_box .button_box{margin-top:0.8rem;}
.header_box.active{position:fixed;width:100%;align-items:flex-start;background-color:#fff;box-shadow:0px 4px 12px rgba(0, 0, 0, 0.08);}
.header_box.active .contents_box h3,.header_box.active .contents_box .h3{padding-bottom:2rem;font-size:1.8rem;}
.header_box.active .contents_box .sub_copy{display:none;}
 */

/* .situation_box{padding:1.2rem 0;margin-top:2.4rem;border-radius:8px;background-color:#EBF3FF;}
.situation_box ul{display:flex;justify-content:center}
.situation_box ul li{flex-grow:1;flex-basis:0;text-align:center;}
.situation_box .nums{display:block;font-size:2.8rem;line-height:4.4rem;font-weight:700;color:#150F96;}
.situation_box .title{display:block;font-size:1.4rem;line-height:2.2rem;font-weight:700;color:#565C63;}


.btn.icon_sorting::after{display:inline-block;width:1.6rem;height:1.6rem;margin-left:2px;content:'';vertical-align:-2px;background:url(../../assets/images/common/icon_sorting.png) center center no-repeat;background-size:90% auto;}
.btn.icon_filter::after{display:inline-block;width:1.6rem;height:1.6rem;margin-left:2px;content:'';vertical-align:-2px;background:url(../../assets/images/common/icon_filter.png) center center no-repeat;background-size:90% auto;}

.list_sorting{width:calc(100% + 4rem);margin:-1.2rem 0 -3.2rem -2rem;}
.list_sorting li{border-bottom:1px solid #E7ECF3;}
.list_sorting button{position:relative;display:block;width:100%;padding:1.6rem 5.2rem 1.6rem 2rem;font-size:1.6rem;color:#565C63;text-align:left;}
.list_sorting button::after{position:absolute;right:2rem;top:calc(50% - 0.7rem);display:inline-block;width:1.2rem;height:0.7rem;content:'';border-left:2px solid #CED6DE;border-bottom:2px solid #CED6DE;transform:rotate(315deg);box-sizing:border-box;}
.list_sorting button.active{color:#3F44DE;}
.list_sorting button.active::after{border-left:2px solid #3F44DE;border-bottom:2px solid #3F44DE;}


.filter_box{margin:0;}
.filter_box .title_area{display:flex;justify-content:center;padding-bottom:1.6rem;border-bottom:1px solid #CED6DE;}
.filter_box .title_area .title{flex-grow:1;font-size:1.6rem;color:#242B2E;}
.filter_box .title_area .toggle_box{flex-grow:0;}
.filter_box .contents_area h2{padding:2.4rem 0 1.2rem;}
.filter_box .contents_area .check_list .item{margin-bottom:0.8rem;}

.flex_start{justify-content:flex-start !important;}
.flex_center{justify-content:center !important;}
.flex_end{justify-content:flex-end !important;} */


























