

@charset "UTF-8";

/* 콘텐츠 */
/* #contents{min-height:500px;} */

/* 랜딩페이지 > 보험계약만기 안내 
.expiration_list .sub_tit {margin-bottom:1.2rem;}
.expiration_list .sub_tit h4 {float:left; margin-top:0;}
.expiration_list .sub_tit p {float:left; margin-left:0.8rem; font-size:1.8rem; line-height:3.3rem; color:#565C63;}
.expiration_list .list_top_inner .title span {margin-bottom:0.5rem;}
*/

/* 랜딩페이지 > 치아보험갱신안내 > 무배당 THE건강한 치아보험(갱신형) */
.tab_title {margin-bottom:1.0rem;}
.tab_title .title20 {padding-right:0; line-height:3.2rem;}
.tab_title .text {margin-top:1.5rem;}

/** 랜딩페이지 > 치아보험갱신안내 > 무배당 THE건강한 치아보험(갱신형) 템플릿 추가 **/
.message_box.type_left {padding-left:1.6rem; text-align:left; color:#242B2E;}

/*랜딩페이지 > 청약확인서 > 인트로 */
.video_area h4 {padding-right:0; margin-bottom:0; color:#242B2E;}
.video_area h4 + p {font-size:1.4rem;}
.video_area .video_box {overflow:hidden; width:100%; margin-top:1.0rem;}
.video_area .video_box img {width:100%;}
.video_area .subtitle_box {font-size:0; line-height:0; text-indent:-99999px; color:transparent;}
.video_area .sub_text.type3 {margin-top:0.4rem; font-size:1.2rem; line-height:1.92rem; color:#565C63;}


/*랜딩페이지 > 완전판매 해피콜 > 계약선택 */
.color_banner.type4 {background-color:#7ACB00; color:#242B2E;}
.color_banner.type4 .icon {width:3.2rem; height:3.2rem;margin-right:0.8rem;background:url("../images/content/cb_icon_04.png") center / contain no-repeat;}

/*랜딩페이지 > 완전판매 해피콜 > 완료화면   */
.color_banner_list li {margin-bottom:1.2rem;}
.color_banner_list .color_banner {display:block; position: relative; padding-left:5.6rem;}
.color_banner_list .color_banner i {position: absolute; left:1.6rem; top:1.6rem;}
.color_banner_list .color_banner p.text { margin-top:0.4rem; font-size:1.4rem; line-height:1.6; font-weight:400;}
.color_banner_list .color_banner.type5 .icon {width:3.2rem; height:3.2rem;margin-right:0.8rem;background:url("../images/content/cb_icon_05.png") center / contain no-repeat;}
.color_banner_list .color_banner.type6 .icon {width:3.2rem; height:3.2rem;margin-right:0.8rem;background:url("../images/content/cb_icon_06.png") center / contain no-repeat;}
.color_banner_list .color_banner.type7 .icon {width:3.2rem; height:3.2rem;margin-right:0.8rem;background:url("../images/content/cb_icon_07.png") center / contain no-repeat;}
.color_banner_list .color_banner.type8 .icon {width:3.2rem; height:3.2rem;margin-right:0.8rem;background:url("../images/content/cb_icon_08.png") center / contain no-repeat;}
.color_banner_list .color_banner.type5:hover, .color_banner_list .color_banner.type5:focus,
.color_banner_list .color_banner.type6:hover, .color_banner_list .color_banner.type6:focus,
.color_banner_list .color_banner.type7:hover, .color_banner_list .color_banner.type7:focus,
.color_banner_list .color_banner.type8:hover, .color_banner_list .color_banner.type8:focus {background-color:#01C1D6;}

.color_banner_list li:nth-child(1) .color_banner {background-color:#F9F0FF; color:#242B2E;}
.color_banner_list li:nth-child(2) .color_banner {background-color:#F9F0FF; color:#242B2E;}
.color_banner_list li:nth-child(3) .color_banner {background-color:#FEF8EB; color:#000;}
.color_banner_list li:nth-child(4) .color_banner {background-color:#FEF8EB; color:#000;}

/* message_box  sub_tit 추가*/
.message_box .accordion_cont p {font-size:1.4rem; color:#565C63;}

/* btn_list*/
.bullet_list .btn_list {margin:0.8rem 0 1.5rem;}
.bullet_list .btn_list li {margin-bottom:0.8rem; padding-left:0;}
.bullet_list .btn_list li:before {display:none;}

/********* 2022. 03. 21 이후 추가 ***********/
/* 텝메뉴 안에 들어가 있는 아코디언 리스트 첫번째 라인 삭제 */
.tab_container .accordion_list_wrap.type3  li:first-child {border-top:0 none;}

/*사이버 창구 대출웜금.이자상환 > 상환정보 확인 View 리스트 */
.cardType_listWrap .card_type_list.type3 .list .list_top_inner .title {padding-right:0;}

/* 사이버창구 > 분할보험금 잔액 상세정보 style 추가 작업 */
.accordion_list_wrap .accordion_tit .tit .sub_tit {display:inline-block; font-size:1.4rem; color:#565C63; font-weight:400;}

/* 랜딩페이지 > 치아보험 갱신 사전안내 > 자주하는 질문 추가*/
.accordion_list_wrap .accordion_tit .tit.title16 {padding-right:3rem; font-size:1.6rem;}
.line_bottom {padding-bottom:1.2rem; border-bottom:1px solid #242B2E;}

/* 만기보험금 조회/신청 > 신청 완료 */
.bullet_none li {padding-left:0;}
.bullet_none li:before {display:none;}

/*사이버창구 > 보험계약대출 > [Step3] 상환정보 확인 > 대출상환실패 */
.emoticon_tit {margin-bottom:0.5rem; font-size:1.4rem; font-weight:600; color:#242B2E;}
.bullet_list.small_type li {font-size:1.4rem; margin-top:0.4rem;}
.bullet_list.small_type li:first-child {margin-top:0;}

/* 사이버창구 > 보험료 납입 > 보험료납입정보 */
.form_box .half_lsit {display:flex; flex-flow:row wrap; justify-content:space-between; margin-top:1.3rem;}
.form_box .half_lsit li {flex-basis:50%; margin-bottom:2.5rem;}



/************************* 추후 템플릿 추가 ****************************/
/* 타이틀 이모티콘 */
i.emoticon {display:inline-block; overflow:hidden; width:1.4rem; height:1.4rem; margin-right:0.4rem; background-image:url('../../assets/images/content/completion_tit_bg.png'); background-repeat:no-repeat; background-position:center center; background-size:contain; vertical-align: -1px;}
i.emoticon.type2 {vertical-align:inherit; background-image:url('../../assets/images/content/completion_tit_bg2.png');}/* 사이버창구 > 보험료 납입 > 계약선택 */
i.emoticon.type3 {width:1.8rem; height:1.8rem;  margin-right:0.7rem; background-image:url('../../assets/images/content/emoticon_type3.png');}/* 랜딩페이지 > 완전판매 해피콜 > 완전판매 해피콜 이용가이드  */

/* 박스 스타일 추가 */
.box {background-color:#F8F9FD;}
.box .box_wrap {padding: 1.6rem;}
.box.type2 {background-color:#EBF3FF;} /* 청약철회 조회/ 접수 */
.box.type3 {background-color:#FFF2E8;} /* 보험료 납입 > 계약선택 */
.box.type4 {background-color:#EDFAFC;} /* 보험료 납입 > 계약선택 */

/*폰트 색상 추가 */
.font_gray2 {color:#565C63;}
/* 여백 스타일 추가 */
.margin_t_14 {margin-top:1.4rem;}

/* 이미지 박스 스타일 추가*/
.img_box {text-align:center;}
.img_box img {max-width:100%;}

/* 버튼 스타일 추가  보헙료납입 > 휴대폰결제 선택시 > 본인인증 */
.btn.type_icon {width:100%; padding-left:2.2rem; color:#242B2E; line-height:6.2rem; font-weight:400; text-align:left; border:1px solid #E7ECF3; border-radius:8px; box-sizing:border-box; background-color:#fff;}
.btn.type_icon:hover, .btn.type_icon:focus {border-color:#3F44DE;}
.btn.type_icon i {display:inline-block; width:3.6rem; height:3.0rem; vertical-align:middle; background-position:left center; background-repeat:no-repeat;}
.btn.type_icon.phone i {background-image:url('../../assets/images/content/btn_type_icon_phone.png'); background-position:left top;}
.btn.type_icon.kakao i {background-image:url('../../assets/images/content/btn_type_icon_kakao.png');}

/* 서브 텍스 style 추가 */
.sub_text.type2 {color:#565C63;} /* 만기보험금 조회/신청 > 즉시 신청 */

/* 완료 페이지 */
.completion {position:relative;}
.completion .completion_top {position:relative; margin:3.2rem 1.2rem 0; padding-top:8.2rem;}
.completion .completion_top:after, .completion .completion_top:before {content:''; display:inline-block; position:absolute; left:0; top:0; width:80px; height:80px;}
.completion .completion_top:before {background-color:#F8F9FD; border-radius:100%;}
.completion .completion_top:after {background-image:url('../../assets/images/content/completion_icon.png'); background-position:center center; background-repeat:no-repeat;}
.completion .completion_top h3 {margin-bottom:1.2rem;}
.completion .completion_bottom {position:fixed; left:2rem; bottom:70px; width:calc(100% - 4rem); text-align:center;}
.completion .completion_bottom a {display:block; overflow:hidden; max-height:240px;}
.completion .completion_bottom a img {max-width:100%; width:auto; max-height:100%;}
.completion .completion_top.icon1:after {background-image: url('../../assets/images/content/completion_icon1.png');}/* 신청 완료 */
.completion .completion_top.icon2:after {background-image: url('../../assets/images/content/completion_icon2.png');}/* 신청 실패 */
.completion .completion_top.icon3:after {background-image: url('../../assets/images/content/completion_icon3.png');}/* 모바일 등기 */
.completion .completion_top.icon4:after {background-image: url('../../assets/images/content/completion_icon4.png');}/* 서비스 신청 완료 */
.completion .completion_top.icon5:after {background-image: url('../../assets/images/content/completion_icon5.png');}/* 사이버창구 > 청약철회 조회/접수 > 청약철회 신청완료*/
.completion .completion_top.icon6:after {background-image: url('../../assets/images/content/completion_icon6.png');}/* 사이버창구 > 보험료 납입 > 보험료결제완료 */
.completion .completion_top.icon9:after {background-image: url('../../assets/images/content/completion_icon9.png');}/* 랜딩페이지 > 청약확인서 > 인트로 */
.completion .completion_top.icon11:after {background-image: url('../../assets/images/content/completion_icon11.png');}/* 랜딩페이지 > 만족도 점수 선택 */
.completion .completion_top.icon12:after {background-image: url('../../assets/images/content/completion_icon12.png');}/* 랜딩페이지 > 완전판매 해피콜 > 유선연락안내 */
.completion .completion_top.icon12:after {background-image: url('../../assets/images/content/completion_icon12.png');}/* 랜딩페이지 > 완전판매 해피콜 > 유선연락안내 */
.completion .completion_top.icon13:after {background-image: url('../../assets/images/content/completion_icon13.png');}/* 랜딩페이지 > 설문 > 빠른청구 만족도조사 > 완료 */


/*랜딩페이지 > 해피콜 완전판매 > 문답 */
.qa_bg_blank .qa_wrap .btn_block_box .icon_check:hover, .qa_bg_blank .qa_wrap .btn_block_box .icon_check:focus {background-color:#01C1D6; color:#242B2E;}
.qa_bg_blank .qa_wrap .btn_block_box .icon_check:hover:after, .qa_bg_blank .qa_wrap .btn_block_box .icon_check:hover:after {border-color:#242B2E;}
.qa_bg_blank .sub_text {color:#fff;}
.qa_wrap .top_title h3 {font-size:2.8rem;}
.qa_wrap .top_title .text_box > p {margin-top:1.2rem;}
.qa_wrap .top_title .text_box > p:nth-child(1) {margin-top:3.2rem;}
.qa_wrap .step_progress_box {border:0 none; background-color:#3F474D;}


/*랜딩페이지 > 완전판매해피콜 > 완료화면 > 미완료페이지 라벨 스타일 추가 */
.lineType_listWrap.type3 .line_type_list .line_list .list_box .left_item {font-weight:600; color:#242B2E;}
.lineType_listWrap.type3 .line_type_list .line_list.on .list_box .left_item {color:#778088;}
.lineType_listWrap.type3 .line_type_list .line_list .list_box .right_item .item input[type="radio"] ~ label:before {display:none;}
.lineType_listWrap.type3 .line_type_list .line_list .list_box .right_item .item .label_style {display:inline-block; position:relative; min-width:7.5rem; padding:0.8rem 1.2rem; text-align:center; border-radius:50px; box-sizing:border-box; border:1px solid #8FABFF;}
.lineType_listWrap.type3 .line_type_list .line_list .list_box .right_item .item .label_style.type1 {color:#3F44DE; background-color:#EBF3FF;}
.lineType_listWrap.type3 .line_type_list .line_list .list_box .right_item .item .label_style.type2 {color:#778088; background-color:#F8F9FD; border-color:#F8F9FD;}

/* 랜딩페이지 메인 레이아웃 sytle yellow 폰트 색상 추가 */
.landing_gate_wrap .landing_gate_content.yellow .type1 h3, .landing_gate_wrap .landing_gate_content.yellow .type1 h3 + p {color:#242B2E;}
.landing_gate_wrap .landing_gate_content.yellow .type1 .text_btn {color:#242B2E; border-color:#242B2E;}