@charset "UTF-8";

@import url('font.css');
@import url('reset.css');
@import url('style.css');
@import url('common_layout.css');

/* layout */
#g_wrapper{position:relative;display:flex;width:100vw;min-width:120rem;height:100vh;/* background-color:#f8f8f8; */overflow:hidden;background-color:#E5E5E5;}
#g_header{flex-shrink:0;width:22rem;height:calc(100vh - 2rem);padding:0 1rem 5rem;margin-top:1rem;border-right:1px solid #DFDFDF;background-color:#fff;box-sizing:border-box;overflow-y:auto;}
#g_header .g_h1{padding:2rem 1rem 1rem;margin-bottom:1rem;font-size:1.4rem;line-height:1.6;font-weight:500;color:#222;text-align:center;letter-spacing:-1px;}
#g_header .g_menu{margin-bottom:2rem;}
#g_header .g_menu li{margin-bottom:0.8rem;}
#g_header .g_menu li button{display:block;width:100%;padding:0.5rem;font-size:1.8rem;color:#444;font-weight:700;text-align:left;text-decoration:none;box-sizing:border-box;}
#g_header .g_menu li.active button,#g_header .g_menu li button:hover{color:#008bec;}
#g_header .g_other_menu li{margin-bottom:0.5rem;}
#g_header .g_other_menu li a{display:block;padding:0.2rem 1rem;font-size:1.4rem;color:#fff;text-align:center;text-decoration:none;border-radius:2.5rem;background-color:#008bec;}
#g_header [class^="g_header"]{display:none;}
#g_header .g_header_open{}
#g_header .g_header_close{}

#g_container{flex-grow:1;margin:1rem;height:calc(100vh - 2rem);padding:1rem;background-color:#fff;box-sizing:border-box;overflow-y:auto;}
#g_container .g_link_menu{margin-bottom:1rem;text-align:center;}
#g_container .g_link_menu ul{display:inline-flex;justify-content:center;border:1px solid #CED6DE;border-radius:5px;box-shadow:0px 0px 16px rgba(0, 0, 0, 0.1);}
#g_container .g_link_menu li{padding:0 1rem;}
#g_container .g_link_menu li a{position:relative;display:inline-block;padding:1rem 0;font-size:2rem;color:#2C3645;font-weight:700;text-decoration:none;}
#g_container .g_link_menu li a:before{position:absolute;left:50%;bottom:0;display:inline-block;width:0;height:0.4rem;content:'';border-radius:50px;background-color:#2C3645;transition:all 300ms ease-in-out;}
#g_container .g_link_menu li.active a:before,#g_container .g_link_menu li a:hover:before{left:0;width:100%;}

#g_contents{position:relative;margin-bottom:10rem;}

.g_section{padding:0.4rem;margin-bottom:4rem;border:3px solid transparent;}
.g_section.active{border:3px solid #CED6DE;background-color:#fdfdfd;box-shadow:0px 0px 16px rgba(0, 0, 0, 0.1);}
.g_section:last-child{margin-bottom:30rem;}
.g_title{padding:1rem 0;}
.g_title h2{position:relative;padding-left:10px;font-size:2.4rem;font-weight:500;color:#2C3645;}
.g_title h2::before{position:absolute;left:0;top:50%;display:inline-block;width:3px;height:80%;content:'';background-color:#2C3645;transform:translateY(-50%);}

.g_info_box{padding:0 0 1rem 1rem;}
.g_info_box p{font-size:1.4rem;}

.g_contents_area{}
.g_contents_box{}
.g_contents_box .g_tit{margin-bottom:0.5rem;}
.g_contents_box .g_tit .g_h3{position:relative;padding:0 0 0 10px;margin:0;font-size:2.2rem;line-height:inherit;font-weight:500;color:#2C3645;}
.g_contents_box .g_tit .g_h3::before{position:absolute;left:0;top:50%;display:inline-block;width:4px;height:4px;content:'';border-radius:100%;background-color:#2C3645;transform:translateY(-50%);}
.g_contents_box .g_tit .g_h3::after{display:none;}
.g_contents_box .g_tit .g_h3 span{display:inline;font-size:0.9em;color:inherit;vertical-align:inherit;}
.g_contents_box .g_cont_box{padding:1rem;margin-bottom:1rem;border:1px solid #DFDFDF;background-color:#fff;}
.g_contents_box .g_cont{margin-bottom:1rem;}

.g_contents_box .g_cont_box .g_textarea{position:absolute;width:1px;height:1px;font-size:1px;line-height:1px;overflow:hidden;}
.g_contents_box .g_pre_box{margin-bottom:1rem;}
.g_contents_box .g_pre_box pre{padding:0.8rem;font-size:1.4rem;line-height:1.8;font-weight:300;color:#222;border:1px solid #DFDFDF;background-color:#F5F5F5;}
.g_contents_box .g_button_box{text-align:right;}
.g_contents_box .g_button_box button{display:inline-block;padding:0.4rem 0.8rem;font-size:1.4rem;color:#fff;font-weight:400;border-radius:4px;background-color:#3F474D;}