@charset "UTF-8";

@import url('font.css');
@import url('reset.css');

/* layout */
#g_wrapper{position:relative;display:flex;width:100vw;min-width:120rem;height:100vh;/* background-color:#f8f8f8; */overflow:hidden;background-color:#E5E5E5;}

#g_header{flex-shrink:0;width:22rem;height:calc(100vh - 2rem);padding:0 1rem 5rem;margin-top:1rem;border-right:1px solid #DFDFDF;background-color:#fff;box-sizing:border-box;overflow-y:auto;}
#g_header .g_h1{padding:2rem 1rem 1rem;margin-bottom:1rem;font-size:1.4rem;line-height:1.6;font-weight:500;color:#222;text-align:center;letter-spacing:-1px;}
#g_header .g_menu{margin-bottom:2rem;}
#g_header .g_menu li{margin-bottom:0.8rem;}
#g_header .g_menu li button{display:block;width:100%;padding:0.5rem;font-size:1.8rem;color:#444;font-weight:700;text-align:left;text-decoration:none;box-sizing:border-box;}
#g_header .g_menu li.active button,#g_header .g_menu li button:hover{color:#008bec;}
#g_header .g_other_menu li{margin-bottom:0.5rem;}
#g_header .g_other_menu li a{display:block;padding:0.2rem 1rem;font-size:1.4rem;color:#fff;text-align:center;text-decoration:none;border-radius:2.5rem;background-color:#008bec;}
#g_header [class^="g_header"]{display:none;}
#g_header .g_header_open{}
#g_header .g_header_close{}

#g_container{flex-grow:1;margin:1rem;height:calc(100vh - 2rem);padding:1rem;background-color:#fff;box-sizing:border-box;overflow-y:auto;}
#g_container .g_link_menu{padding:1rem 0;text-align:center;}
#g_container .g_link_menu ul{display:inline-flex;justify-content:center;}
#g_container .g_link_menu li{padding:0 1rem;}
#g_container .g_link_menu li a{position:relative;display:inline-block;padding:1rem 0;font-size:2.4rem;color:#2C3645;font-weight:700;text-decoration:none;}
#g_container .g_link_menu li a:before{position:absolute;left:50%;bottom:0;display:inline-block;width:0;height:0.4rem;content:'';border-radius:50px;background-color:#2C3645;transition:all 300ms ease-in-out;}
#g_container .g_link_menu li.active a:before,#g_container .g_link_menu li a:hover:before{left:0;width:100%;}

#g_contents{position:relative;margin-bottom:10rem;}

.g_section{padding:0.4rem;margin-bottom:4rem;border:3px solid transparent;}
.g_section.active{border:3px solid #CED6DE;background-color:#fdfdfd;box-shadow:0px 0px 16px rgba(0, 0, 0, 0.1);}
.g_section:last-child{margin-bottom:30rem;}
.g_title{padding:1rem 0;}
.g_title h2{position:relative;padding-left:10px;font-size:2.4rem;font-weight:500;color:#2C3645;}
.g_title h2::before{position:absolute;left:0;top:50%;display:inline-block;width:3px;height:80%;content:'';background-color:#2C3645;transform:translateY(-50%);}

.g_table{width:100%;border-top:2px solid #222;background-color:#fff;}
.g_table th,.g_table td{padding:1rem 0.5rem;font-size:1.2rem;color:#222;border:1px solid #DFDFDF;}
.g_table thead th{font-size:1.4rem;color:#444;font-weight:500;vertical-align:middle;border-bottom:none;background-color:#F5F5F5;}
.g_table th:first-child,.g_table td:first-child{border-left:none;}
.g_table th:last-child,.g_table td:last-child{border-right:none;}
.g_table td{vertical-align:middle;}
.g_table tr:nth-child(even){background-color:#F8F9FD;}
.g_table tr:hover{background-color:#CED6DE;}
.g_table .g_del td,.g_table .g_del td a,.g_table .g_del td span{color:#C2BFB8 !important;text-decoration:line-through;cursor:no-drop;}
.g_table a{color:#0F43F9;text-decoration:none;}
.g_table [data-info*="center"]{text-align:center;}

.g_table [data-info*="depth"]{}

.g_table [data-info*="type"] span{display:inline-block;width:90%;padding:0.2rem 0;border:1px solid #DFDFDF;border-radius:5rem;background-color:#fff;}
.g_table [data-info*="type"].page{color:#000;}
.g_table [data-info*="type"].popup{color:#008bec;}
.g_table [data-info*="type"].layer{color:#FA541C;}

.g_table [data-info*="file_name"]{position:relative;font-weight:500;}
/* .g_table [data-info*="file_name"] a:after{position:absolute;left:0;top:0;display:inline-block;width:100%;height:100%;content:'';background-color:transparent;} */

.g_table [data-info*="state"]{font-weight:500;color:#999;}
.g_table [data-info*="state"].state2{color:#222;}
.g_table [data-info*="state"].state3{color:#FA541C;}
.g_table [data-info*="state"].state4{color:#008bec;}
.g_table [data-info*="state"].state5{color:#00ba2e;}

.g_progress{position:absolute;right:1rem;top:1rem;width:25.2rem;}
.g_progress > div{padding:1rem;border:3px solid #CED6DE;background-color:#fff;}
.g_progress h2{font-size:1.8rem;font-weight:500;color:#2C3645;}
.g_progress .g_progress_bar{position:relative;margin:1.4rem 0 0.4rem;height:1.4rem;line-height:1rem;background-color:#999;}
.g_progress .g_progress_bar::before,.g_progress .g_progress_bar::after{position:absolute;top:-1.2rem;z-index:12;font-size:0.8rem;letter-spacing:-1px;}
.g_progress .g_progress_bar::before{left:0;content:'0';transform:translateX(-50%);}
.g_progress .g_progress_bar::after{right:0;content:'100';transform:translateX(50%);}
.g_progress .g_progress_bar > span{position:relative;display:inline-block;height:1.4rem;line-height:1.4rem;text-align:right;vertical-align:top;background-color:#008bec;}
.g_progress .g_progress_bar span span{margin-right:5px;font-size:1rem;font-weight:400;color:#fff;vertical-align:top;}
.g_progress .g_progress_bar span span::after{content:'%';}
.g_progress li{font-size:1.4rem;}
.g_progress li strong,.g_progress li span{display:inline-block;color:#0F43F9;vertical-align:middle;}
.g_progress li:first-child strong,.g_progress li:first-child span{color:#2C3645;}
.g_progress li strong{margin-right:5px;font-weight:500;}
.g_progress li strong::after{content:' :';}
.g_progress li span::after{font-size:1rem;content:' page';}

.g_iframe_box{position:fixed;right:calc(4rem - 3px);top:50%;z-index:12;width:36rem;height:64rem;border:5px solid #CED6DE;background-color:#fff;box-shadow:0px 0px 16px rgba(0, 0, 0, 0.1);transform:translateY(-50%);box-sizing:initial;}
.g_iframe_box iframe{width:100%;height:100%;overflow-y:auto;}
.g_iframe_box .close{position:absolute;right:-45px;top:-5px;display:inline-block;width:45px;height:45px;font-size:1px;line-height:1px;color:transparent;border:5px solid #CED6DE;background-color:#fff;overflow:hidden;}
.g_iframe_box .close::before,.g_iframe_box .close::after{position:absolute;left:45%;top:5%;display:inline-block;width:5px;height:90%;content:'';background-color:#CED6DE;}
.g_iframe_box .close::before{transform:rotate(45deg);}
.g_iframe_box .close::after{transform:rotate(135deg);}

.g_index{display:flex;flex-wrap:wrap;justify-content:center;align-content:center;height:100vh;}
.g_index > div{display:flex;align-item:center;justify-content:center;flex-direction:column;transform:translateY(-50%);}
.g_index h1{margin-bottom:8rem;font-size:4rem;color:#2C3645;text-align:center;}
.g_index ul{display:flex;justify-content:space-around;}
.g_index li{width:16rem;text-align:center;}
.g_index li a{display:block;padding:2rem 0;font-size:1.8rem;color:#2C3645;font-weight:500;text-decoration:none;border:4px solid #007BFF;background-color:#fff;}
.g_index li a:hover,.g_index li a:active,.g_index li a:focus{color:#0050B3;border:4px solid #0050B3;}